.ViewRecipeFields {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 200px;
  }

.dropdown-container {
    margin: 25px;
    width: 100px;
    align-self: center;
    justify-self: center;
}

.searchButtons {
    margin-left: 20%;
    text-align: center;
}

.searchButton .button {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: black;
    padding: 5px;
}

.recipeForm {
    justify-content: center;
    display:grid;
    align-items: center;
    text-align: center;
}

.entryField {
    border-bottom: none;
}