.userIngredientList, .userIngredientContainer {
    justify-content: center;
    display: grid;
    align-items: center;
    padding: 20px;
    margin-top: 21px;
}

.userIngredientList h1,
.userIngredientContainer h1 {
    padding: 1px;
    font-size: 1.6em;
    border-bottom: 2px solid #4f483f;
}